@font-face {
    font-family: "main";
    src: url(assets/fonts/AtkinsonHyperlegible-Regular.ttf)
}

@font-face {
    font-family: "title";
    src: url(assets/fonts/Anton-Regular.ttf)
}

body {
	margin: 0;
    font-family: "main";
}